{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tickets</h1>
        {% for post in posts %}
        <div class='ticketBlock'>
            <a href="{{ path('post_show', { 'id': post.id }) }}"><h2>{{ post.title }}</h2><br></a>
            Posté le {% if post.datePost %}{{ post.datePost|date('d/m/Y') }}{% endif %} à {% if post.datePost %}{{ post.datePost|date('H:i') }}{% endif %}<br>
            <a href="{{ path('post_edit', { 'id': post.id }) }}"><button>Modifier</button></a>
        </div>
        {% endfor %}
        <a href="{{ path('post_new') }}"><button>Ajouter un nouveau ticket</button></a>
{% endblock %}
