{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un nouveau ticket</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_widget(form2) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
    <a href="{{ path('post_index') }}"><button>Retour</button></a>
{% endblock %}
